<!DOCTYPE html>
<html>
<head>
	<title>sync</title>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
	<script src="http://connect.soundcloud.com/sdk.js"></script>
	<script type="text/javascript" src="/main.js"></script>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<h1>sync</h1>
	<form id="send">
		<input type="text" id="url" placeholder="url">
	</form>
	<span id="queue"></span>
	<div id="media">
		<div id="youtube"></div>
		<img src="" id="soundcloud">
	</div>
</body>
</html>